body{
  font-family: sans-serif;

}
h1{
  font-size: 40px;
  color:#2aa1a8;
  font-weight: bold;
  font-family: sans-serif;

}

h2{
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
}



img {
  float:left;
  width:100%;
  height:30%;
}
p{
  font-size: 15px;
  font-family: sans-serif;
}
#results{
  display:;

}

.btn btn-success{
  text-align: center;
  padding:3px;
  width:200px;
}
.question{
  font-size: 20px;
}
